/* CSS declarations go here */
body {
  overflow: hidden;
  margin: 0px 0px;
  cursor: default;
}


/* set the color input form to the top left corner */
.input {
  position: absolute;
  top: 10px;
  left: 10px;
  z-index: 1;
}

/* set the user count div to the top right corner */
.usersOnline {
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 1;
}

#size {
  width:30px;
  float: left;
  background-color: rgba(54, 25, 25, .0);
  border: none;
  display: inline-block;
}

#slider {
  width:145px;
  display: inline-block;
}

.input {
  position: absolute;
  top: 10px;
  left: 15px;
  z-index: 1;
}

.button {
  position: absolute;
  top: 4px;
  left: 60px;
  z-index: 1;
}

.eraser {
  position: absolute;
  left: 300px;
  top: 10px;
}





